header {
    display: block;
    background-color: rgb(5, 21, 21);
}

div {
    background: rgb(21, 21, 21);
    color: white;
    font-family: Roboto;
}


body {
    background-color: rgb(21, 21, 21);
    color: white;
    font-family: Roboto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url('Roboto.ttf');
}

.content {
    display: inline-block;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

button {
    background-color: #04AA6D;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
}
.inception {
    width: 90%;
    height: 720px;
}